ai-model/hand-gesture-recognition-mediapipe/venv310/
ai-model/hand-gesture-recognition-mediapipe/smart_class/lib64
ai-model/hand-gesture-recognition-mediapipe/smart_class/pyvenv.cfg
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/activate
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/activate.csh
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/activate.fish
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/Activate.ps1
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/convert-caffe2-to-onnx
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/convert-onnx-to-caffe2
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/estimator_ckpt_converter
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/f2py
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/f2py3
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/f2py3.10
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/fonttools
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/google-oauthlib-tool
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/import_pb_to_tensorboard
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/isympy
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/markdown_py
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/normalizer
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/pip
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/pip3
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/pip3.10
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/pyftmerge
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/pyftsubset
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/pyrsa-decrypt
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/pyrsa-encrypt
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/pyrsa-keygen
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/pyrsa-priv2pub
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/pyrsa-sign
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/pyrsa-verify
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/python
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/python3
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/python3.10
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/saved_model_cli
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/tensorboard
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/tf_upgrade_v2
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/tflite_convert
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/toco
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/toco_from_protos
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/torchrun
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/ttx
ai-model/hand-gesture-recognition-mediapipe/smart_class/bin/wheel
ai-model/hand-gesture-recognition-mediapipe/smart_class/share/man/man1/isympy.1
ai-model/hand-gesture-recognition-mediapipe/smart_class/share/man/man1/ttx.1
