@import url("main_style.css");

.charts{
    height: 100%;
    padding: 1rem;
    display: none;
    grid-template-areas: 
                    "temprature humidity co2 light"
                    "noise noise latency packetLoss";
    gap: 1rem;
}

.chartItem {
    border: var(--main-border);
    border-radius: var(--main-border-radius);   
    box-shadow: var( --main-shadow);    
}



