/* adding the self hosted font */
@font-face {
    font-family: 'Roboto';
    src: url("../../assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

:root {
    
    /* main color palate */
    --main-color : white;
    --button-active-color : #EAF2FF;
    --button-hover-color : #b2bccc; /* not sure about this yet*/
    --border-colors : #2B40C7;
    --shaodow-colors : #2B40C7;/* not sure about this yet*/
    
    /* main font family */
    --main-font-family : 'Roboto';

    /* shadow */
    --main-shadow : 0px 0px 5px var(--shaodow-colors); 

 
    /* border  */
    --main-border : 1px solid var(--border-colors);

    /* other main stuff */
    --main-border-radius : 50px;   
}

/* boilder plate stuff  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font-family);   
    /* background-color: #0b1020; */
}


/* 
===========================
overall wrapper styling
===========================
*/
.wrapper {
    display: flex;
    flex-direction:column ; 
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
    width: 100vw;
    height: 100vh; 
}



/* 
===========================
statusMenu, dataMenu styling 
===========================
*/
.statusMenu, .dataMenu {
    padding: 3%;
    background-color: var(--main-color);
    height: 100px;
    border: var(--main-border);
    border-radius: var(--main-border-radius);
    box-shadow: var(--main-shadow);
}

.statusMenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeContainer {
    border: var(--main-border);
    box-shadow: var(--main-shadow);    
    border-radius: var(--main-border-radius);
    padding: .8rem 2%;
}

.innerTime {
    width: 100%;
}

.timeContent {
    display: flex;
    align-items: center;      /* vertical center */
    justify-content: center;  /* horizontal center */
    gap: .5rem;
    height: 100%;
}

.timeContainer img {
    height: 45px;
}
  
/* 
===========================
main Secion styling
===========================
*/
.main {
    display: flex;
    flex: 1;
    height: 100%;
    gap: 1rem;
}
/* 
===========================
commnadLog styling
===========================
*/
.commandSection{
    width: 40%;
    border-radius: var(--main-border-radius);
    border: var(--main-border);
    box-shadow: var(--main-shadow);
}
/* 
===========================
threeJS section styling
===========================
*/
.convasCotainer{
    width: 60%;
    border-radius: var(--main-border-radius);
    border: var(--main-border);
    box-shadow: var(--main-shadow);
}


.main .convasCotainer canvas {
    width: 100%;
    border-radius: var(--main-border-radius);
}

/* 
===========================
MenuButtons styling
===========================
*/

.ButtonsContainer {
        
}



