absl-py==2.0.0
astunparse==1.6.3
attrs
cachetools
certifi
cffi
charset-normalizer
contourpy
cycler
flatbuffers
fonttools
gast==0.4.0
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
keras==2.13.1
kiwisolver
libclang
Markdown
MarkupSafe
# Downgraded for compatibility with Numpy 1.23
matplotlib==3.7.3
mediapipe==0.10.11
ml_dtypes
# The core requirement
numpy==1.23.5
oauthlib
# Downgraded to 4.8 to support Numpy 1.x
opencv-contrib-python==4.8.0.76
opencv-python==4.8.0.76
opt_einsum
packaging
pandas==2.0.3
pillow
protobuf==3.20.3
pyasn1
pyasn1_modules
pycparser
pyparsing
python-dateutil
pytz
requests
requests-oauthlib
rsa
# Downgraded for compatibility
scipy==1.10.1
six
sounddevice
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow-estimator==2.13.0
# The Linux version
tensorflow==2.13.0
tensorflow-io-gcs-filesystem
termcolor
typing_extensions==4.5.0
tzdata
urllib3
Werkzeug
wrapt
